# =========================
# Ambiente virtual
# =========================
venv/
.env/
.env.bak/

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs e temporários
# =========================
*.log
*.tmp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Cache de downloads
# =========================
.yfinance.cache
